<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<dom-module id="stream-for-you">
  <template>
    <style>
      :host {
        display: block;
        margin: 0;
        overflow: hidden;
      }

      #bg {
        top: 0;
        position: relative;
        width: 100%;
      }
      #poster {
        z-index: 100;
        height: 34%;
        width: 34%;
        position: absolute;
        top: 38.67766117%;
        left: 4.266666667%;
      }
    </style>
    <img id="poster" src="../../../../images/big-buck-bunny/poster.png">
    <img id ="bg"src="../../../../images/views/stream-for-you.jpg">
  </template>
  <script src="stream-for-you.js">
  </script>
</dom-module>